
body{
	/*max-width:1024px;*/
	margin-left: auto;
	margin-right: auto;
}

#app-containner{
    position: absolute;
    top: 50px;
    bottom: 80px;
    left: 0px;
    right: 0px;
    overflow-y: auto;
}

.panel-heading{
	position:relative;
}


.subprice{
	position:absolute; 
	right: 100px;
	font-weight: bold;
}

.thumbnail .thumb-price:before,
.price:before,
.unitprice:before{
	content:"$";
}

.item-num{
	margin:20px;
}

.thumbnail img{
    height: 80px;
}

.thumbnail .thumb-price{
	position:absolute; 
	right:25px;
	bottom: 75px;
	border-radius:25px;
	border: 1px solid black;
	background: #9933CC;
	padding: 3px;
	color: white;
}

.thumbnail .thumb-description{
	position:absolute; 
	left:25px;
	top: 5px;
	border-radius:25px;
	border: 1px solid black;
	background: #9933CC;
	padding: 3px;
	color: white;
}

/*.thumbnail .thumb-curquantity:before{content: "("}
.thumbnail .thumb-curquantity:after{content: "("}*/
.thumbnail .thumb-curquantity{
	position:absolute; 
	right:80px;
/*	border-radius:5px;
	border: 1px solid black;
	background: #9933CC;*/
	padding: 3px;
	width:20px;
	font-size: 28px;
	/*text-align: right;*/
/*	color: white;*/
}

.thumbnail .plus:before{content: "+";}
.thumbnail .plus{color: 	#2768DB;}

.thumbnal .minus:before{content: "-";}
.thumbnail .minus{color: #FF0000;}

.thumbnail .thumb-newquantity{
	position:absolute; 
	right:40px;
	padding: 3px;
	width:40px;
	font-size: 28px;
}